.breadcrumbs {
    max-width: 1200px;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:last-child {
    color: #2f2f2f;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: rgb(139 92 246);
}